
extends layout.pug

block content
  link(rel="stylesheet" href="../stylesheets/albums_page.css")
  body
   .albums-header
    h1 Albums
    h2 Checkout one of these awesome albums!
   .album-page-container
     each album in albums
      .album-page-card
        p= album.title
        a(href=`/albums/${album.id}`)
          img(id='album_page_img' src=`../albumImgs/${album.id}.jpg`)
        p= album.artist

  include footer.pug
