extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  .header-container
    h1 Welcome to
    span.logo goodbeats
    h2 What will you discover?
  .album-container
     each album in albums
      .album-card
        p= album.title
        a(href=`/albums/${album.id}`)
          img(src=`../albumImgs/${album.id}.jpg`)
        p= album.artist

