doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        link(rel="stylesheet" href="../stylesheets/albums_page.css")
        link(rel='stylesheet' href='/stylesheets/index.css')
        script(type="module" src="/javascripts/deleteReview.js")
        script(type="module" src="/javascripts/editReview.js")
        script(src="https://kit.fontawesome.com/d20b7fdb87.js" crossorigin="anonymous")

  body
      if locals.authenticated
        .head
          .banner
            .name: a(href="https://www.linkedin.com/in/brendan-lau-b6952919a/") Brendan Lau
            .name: a(href="https://github.com/Irving-Develops") Irving Arreola Palacios
            .name: a(href="https://github.com/john0123456789") John Pham
            .name: a(href="https://www.linkedin.com/in/michael-presley-96729b235/") Michael Presley
          .navbar
            .nav-links
              .logo good
                span beats
              .link: a(href="/") Home
              .link: a(href="/albums") Albums
              .link: a(href="/libraries") My Libraries
              //- .link: a(href="/reviews") Reviews
            .nav-profile
              span(class='navbar-text') #{user.username}
              form(class='form-inline' action='/users/logout' method='post')
                button(id="logout")
                  i(class="fa-solid fa-right-from-bracket fa-2x")
                  //- img(id="logout_button" src="/126467.png", alt="logout img")


      else
          a(href='/users/login') Login
          a(href='/users/register') Register
      block content

        label Libraries
        if (libraries.length>0)
          ul
            each library in libraries
              li: a(href=`/libraries/${library.id}`)= library.name
