doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        script(type="module" src="../javascripts/demoLogin.js")
  body

  if locals.authenticated
    span(class='navbar-text px-4') Welcome #{user.username}!
    form(class='form-inline pr-4' action='/users/logout' method='post')
      button(class='btn btn-sm btn-warning' type='submit') Logout
  else
    span(class='navbar-text px-4')
      a(class='btn btn-sm btn-dark mr-2' href='/users/login') Login
      a(class='btn btn-sm btn-dark' href='/users/register') Register



    block content
