extends layout.pug

block content
  form(action=`/albums/${album.id}`, method="post")
    input(type="hidden" name="_csrf" value=csrfToken)
    label Title
    input(type="text" name="title" required)
    label Content
    textarea(name="content", cols="30", rows="10" required)
    label Rating
    select(name="rating" value="og_review" required)
      option 1
      option 2
      option 3
      option 4
      option 5
    button Submit Review
    button Cancel
  include footer.pug
