include utils.pug
html
  head
    link(rel='stylesheet' href='/stylesheets/login.css')
    script(type="module" src="../javascripts/demoLogin.js")
  body
    block content
      .logo good
        span beats
      .form-container
        form(action='/users/login' method='post' class='form-wrapper')
          h2(id='login-header') Sign In
          +validationErrorSummary(errors)
          input(type='hidden' name='_csrf' value=csrfToken)
          +field('Email', 'emailAddress', emailAddress)
          +field('Password', 'password', null, 'password')
          div(class='py-4')
            button(type='submit' class='loginButtons') Sign In
            button(class="loginButtons" id='demo') Demo
          .divider
            span(id="break") New to Goodbeats?
          button(class="loginButtons" id="sign-up"): a(href='/users/register') Sign Up
      