include utils.pug
html
  head
    link(rel='stylesheet' href='/stylesheets/reset.css')
    script(type="module" src="../javascripts/demoLogin.js")
  body
    block content
    .login-container
      +validationErrorSummary(errors)
      form(id="login-form" action='/users/login' method='post')
        h2(id='login-header') Please Log in:
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Email Address', 'emailAddress', emailAddress)
        +field('Password', 'password', null, 'password')
        div(class='py-4')
          button(id="submitButton" type='submit' class='loginButtons') Login
          button(class="loginButtons" id='demo') Demo
          a(href='/' class='btn btn-warning ml-2') Cancel
      div
          p: a(href='/users/register') Don't have an account?
