include utils.pug
html
  head
    link(rel='stylesheet' href='/stylesheets/login.css')
  body
    .logo good
        span beats
    .form-container
      h2(id="page-header") Create Account
      form(id="reg-form" action='/users/register' method='post' class='form-wrapper')
        +validationErrorSummary(errors)
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Username', 'username' , user.username)
        +field('Email Address', 'emailAddress', user.emailAddress)
        +field('Password', 'password', user.password, 'password')
        +field('Confirm Password', 'confirmPassword', '', 'password')
        div(class='py-4')
          button(type='submit' class='loginButtons') Register
        div
          p Already have an account?
           a(href='/users/login' id="break") Sign In
  include footer.pug
