body{
  background-color: #f7f5f5;
}

.reviews-container{
  font-family: Arial, Helvetica, sans-serif;
}

#tracklist{
  margin: 20px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.album-artists{
  font-size: larger;
  font-weight: bolder;
}

img{
  width: 150px;
  height: 150px;
}

#albumEachImg{
  height: 250px;
  width: 250px;
}

.add-library-container{
  display: inline-flex;
  flex-direction: column;
}

.album-info-container{
  display: inline-flex;
}
