*{
  font-family: "Helvetica Neue",Helvetica,Arial;;
}

body{
  margin:auto;
  background-color: #f7f5f5;
}



.form-edit-container{
  display:flex;
  flex-direction: column;
  width: 50%;
  height: 400px;
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 100px;
}

.edit-review-title-rating{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 10px;
}

.edit-review-title{
  width: 60%;
}

#edit-review-title-input{
  width: 80%;
  text-align: left;
}

.edit-review-content{
  width: 100%;
}

#edit-review-content-area{
  width: 100%;
}

.edit-review-submit-cancel{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-top:10px;
}
