
body{
    margin: auto;
    background-color: #f7f5f5;
}

h1 {
    color: grey;
    display: inline-flex;
}

.hidden {
    display: none;
}

#main_page_img{
    width:150px;
    height:150px;
    margin: 5px;
    display:inline-flex;
}

#main_page_img:hover {
    width:152px;
    height: 152px;
    filter: drop-shadow(0 0 0.75rem #553b08);
}

p{
    margin: 0;
    font-size: 10px;
    text-align: center;
}

.album-card{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: fit-content;
    margin: 5px;
    animation: 60s linear infinite alternate slidein;
}


.album-container{
    background-color: burlywood;
    display: inline-flex;
    width:50%;
    flex-wrap: nowrap;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    overflow-x: hidden;

}

@keyframes slidein{
    from{
      transform: translate(1400%)
    }
    to{
      transform: translate(-1500%)
    }
  }

.logo {
    display: inline-flex;
    font-size: 2em;
    font-family: Montserrat, sans-serif;
    font-weight: 100;
    color: #553b08;
}

.header-container{
    width:50%;
    text-align: center;
    margin-bottom: 100px;
    margin-left: 25%;
    margin-right: 25%;
}

h2{
    margin-top: 50px;
}
